body
{
}

.dot {
    background-color: red;
    border-color: darkred;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: 100px;
    float: left;
}

#container {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px;
}

.lightOn {
    background-color: lawngreen;
    border-color: darkgreen;
}
.clicked {
    background-color: yellow;
    border-color: yellowgreen;
}